@import "../base/_fonts";
@import "../base/_colors";

.type-writer {
	color: $mainColor;
	font-weight: 700;
}

@keyframes blink {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
.type-writer::after {
	content: "|";
	animation: blink 1s infinite;
}
